---
import Starfield from "../components/Starfield";
import Hero from "../components/Hero";
import Skills from "../components/Skills";
import Navbar from "../components/Navbar";
import FeaturedProjects from "../components/FeaturedProjects";
import Footer from "../components/Footer";
import "../styles/global.css";
import "../styles/fonts.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Starfield client:load />
		<Navbar client:load />
		<main class="relative flex flex-col gap-20 p-0 max-w-800px mx-auto">
			<Hero client:load />
			<Skills client:load />
			<FeaturedProjects client:load />
		</main>
		<Footer client:load />
	</body>
</html>
