---
import Starfield from "../components/Starfield";
import Hero from "../components/Hero";
import "../styles/global.css";
import "../styles/fonts.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Starfield client:load />
		<main class="relative z-1 p-0 max-w-800px mx-auto">
			<Hero client:load />
		</main>
	</body>
</html>
