---
import Starfield from "../components/Starfield";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Starfield client:load />
		<main style="position: relative; z-index: 1; padding: 4rem; color: white; max-width: 800px; margin: auto;">
			<slot />
		</main>
	</body>
</html>
