---
import Starfield from "../components/Starfield";
import "../styles/global.css";
import "../styles/fonts.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Drew Moore | Projects</title>
	</head>
	<body>
		<Starfield client:load />
		<Navbar />
		<main class="relative flex flex-col gap-20 p-0 max-w-800px mx-auto">
			
		</main>
		<Footer />
	</body>
</html>