<footer class="px-6 py-6 mt-20 grid sm:grid-cols-3 gap-4 max-w-4xl mx-auto">
  <div class="text-gray-400">
    <p class="text-sm">&copy; {new Date().getFullYear()} Drew Moore.</p>
    <p class="text-xs mt-2">Built with Astro and Tailwind CSS</p>
  </div>
  <div class="flex flex-col gap-2">
    <p class="font-bold">Quick Links</p>
    <ul class="flex flex-col justify-center gap-2">
      <li>
        <a href="/" class="hover:underline">
          Home
        </a>
      </li>
      <li>
        <a href="/projects" class="hover:underline">
          Projects
        </a>
      </li>
      <li>
        <a href="/blog" class="hover:underline">
          Blog
        </a>
      </li>
    </ul>
  </div>
  <div class="">
    <p class="font-bold">Connect with me</p>
    <div class="flex flex-col gap-2">
      <span>drewmoore052@gmail.com</span>
      <span class="flex items-center gap-2">
        <a href="https://github.com/drew18moore" target="_blank" class="cursor-pointer flex items-center rounded-full">
          <img
            src="/icons/github-mark-white.svg"
            alt="GitHub"
            class="w-6 h-6"
          />
        </a>
        <a href="https://www.linkedin.com/in/drew18moore" target="_blank" class="cursor-pointer flex items-center rounded-full overflow-hidden">
          <img
            src="/icons/linkedin.svg"
            alt="GitHub"
            class="w-6 h-6 align-middle"
          />
        </a>
      </span>
    </div>
  </div>
</footer>
