<section class="text-center flex flex-col gap-4 items-center justify-center h-screen px-4">
  <div class="flex flex-col">
    <h1 class="text-7xl sm:text-9xl font-bold bg-gradient-to-r from-cyan-400 to-blue-500 bg-clip-text text-transparent">
      Drew
    </h1>
    <h1 class="text-7xl sm:text-9xl font-bold bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent">
      Moore
    </h1>
  </div>
  <p class="text-lg sm:text-xl">Full-stack software engineer</p>
  <span class="flex flex-col sm:flex-row gap-4">
    <a href="https://docs.google.com/document/d/1OLqLlMHZ30lzGMP6H3oBr-KXCOK-wlSEGvgm2newYbI/edit?usp=sharing" target="_blank" class="border border-white/90 px-4 py-2 rounded-md cursor-pointer">
      View my resume
    </a>
    <!-- <a href="/blog" class="border border-white/90 px-4 py-2 rounded-md cursor-pointer">
      Read my blog
    </a> -->
  </span>
</section>
